<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>BIOGRAPHY</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Fengkai TANG was awarded the degree of BEng Hons Electrical and Electronic Engineering in the First Class classification from The University of Nottingham. </p>
      </div>
      <div class="col-lg-4">
        <p>Fengkai TANG now works on MEng Electrical and Computer Engineering program at Cornell University, where he had a deeper understanding on AI/ML, embedded computing and CS Algorithms.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https:/www.linkedin.com/in/fengkai-tang-576227289" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> My LinkedIn
        </a>
      </div>
    </div>
  </div>
</section>
